<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.DesignBot" dependencies="Foundation.Serialization">
            <predicate>
              <include name="Foundation.DesignBot.Templates" database="master" path="/sitecore/Templates/Foundation/DesignBot" />
                
              <!-- Rule Field Extension -->
              <include name="Foundation.DesignBot.Tags" database="master" path="/sitecore/system/Settings/Rules/Definitions/Tags/DesignBot" />
              <include name="Foundation.DesignBot.Definitions" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/DesignBot" />
              <include name="Foundation.DesignBot.Rules" database="master" path="/sitecore/system/Settings/Rules/DesignBot">
                  <exclude childrenOfPath="Rules" /><!-- Comment out this exclusion to sync user rules between environments -->
              </include>
               
              <!-- PowerShell Context Menu Option -->
              <include name="Foundation.DesignBot.PowerShell" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/DesignBot" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>